In [2]:
#Name :-Rahul Nyati
#Reg.No:-2018PUSCEBDSX06956
#Roll No:-2018BDSX1017
#Subject :-Machine Learning Lab
#Experiment NO:1

In [ ]:
'''Objective:-. Implement Decision Tree algorithm in a given business environment and comment 
on its efficiency and performance. ive:-1. Implement Decision Tree algorithm in a given business 
environment and comment on its efficiency and performance. '''

In [ ]:
#Dataset Name:-LR_Social_Network_Ads

In [ ]:
import pandas as pd
data=pd.read_csv('LR_Social_Network_Ads.csv')

In [3]:
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [6]:
x=data.iloc[:,0:2]

In [7]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [26]:
y=data['Purchased']

In [27]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

In [30]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [31]:
x_train.shape

(320, 2)

In [32]:
y_train.shape

(320,)

In [50]:
y_pred_test=dtc.predict(x_test)

In [52]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

In [59]:
print( precision_score(y_test, y_pred_test))

0.8387096774193549

In [58]:
print(recall_score(y_test, y_pred_test))

0.8125

In [57]:
print(accuracy_score(y_test, y_pred_test))

0.8625

In [60]:
print(f1_score(y_test, y_pred_test))

0.8253968253968254

In [47]:
from sklearn.metrics import roc_auc_score

In [49]:
print ("AUC&ROC",roc_auc_score(y_test, y_pred_test))

AUC&ROC 0.8541666666666667