In [ ]:
#Name :-Rahul Nyati
#Reg.No:-2018PUSCEBDSX06956
#Roll No:-2018BDSX1017
#Subject :-Machine Learning Lab
#Experiment NO:3

In [ ]:
'''Objective:- Explore and implement KNN algorithm in a given business scenario and comment on its efficiency and performance.'''

In [1]:
#Dataset Name:-LR_Social_Network_Ads

In [3]:
import pandas as pd
data=pd.read_csv('LR_Social_Network_Ads.csv')

In [4]:
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [5]:
x=data.iloc[:,0:2]

In [6]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [7]:
y=data['Purchased']

In [12]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

In [21]:
#KNN classifier 
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=3)

In [22]:
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [23]:
y_pred_test3=knn.predict(x_test)

In [24]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

In [25]:
print( precision_score(y_test, y_pred_test3))

0.4782608695652174

In [27]:
print(recall_score(y_test, y_pred_test3))

0.5238095238095238

In [28]:
print(accuracy_score(y_test, y_pred_test3))

0.725

In [29]:
print(f1_score(y_test, y_pred_test3))

0.5

In [30]:
from sklearn.metrics import roc_auc_score

In [32]:
print ("AUC&ROC",roc_auc_score(y_test, y_pred_test3))

AUC&ROC 0.6602098466505246