In [ ]:
#Name :-Rahul Nyati
#Reg.No:-2018PUSCEBDSX06956
#Roll No:-2018BDSX1017
#Subject :-Machine Learning Lab
#Experiment NO:5

In [ ]:
'''Objective:- Explore and implement Random Forest algorithm in a given business scenario and 
comment on its efficiency and performance. '''

In [ ]:
#Dataset Name:-LR_Social_Network_Ads

In [1]:
import pandas as pd
data=pd.read_csv('LR_Social_Network_Ads.csv')

In [2]:
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [3]:
x=data.iloc[:,0:2]

In [4]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [5]:
y=data['Purchased']

In [6]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

In [9]:
#for random forest
from sklearn.ensemble import RandomForestClassifier
RF=RandomForestClassifier(n_estimators=10,random_state=0)
RF.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [10]:
y_pred_test=RF.predict(x_test)

In [11]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

In [12]:
print( precision_score(y_test, y_pred_test))

0.9333333333333333

In [13]:
print(recall_score(y_test, y_pred_test))

0.8484848484848485

In [14]:
print(accuracy_score(y_test, y_pred_test))

0.9125

In [15]:
print(f1_score(y_test, y_pred_test))

0.888888888888889

In [16]:
from sklearn.metrics import roc_auc_score

In [17]:
print ("AUC&ROC",roc_auc_score(y_test, y_pred_test))

AUC&ROC 0.9029658284977435