In [1]:
#Name :-Rahul Nyati
#Reg.No:-2018PUSCEBDSX06956
#Roll No:-2018BDSX1017
#Subject :-Machine Learning Lab
#Experiment NO:4

In [2]:
'''Objective:-3. Explore and implement SVM algorithm in a given business scenario and comment on its 
efficiency and performance.'''

'Objective:-3. Explore and implement SVM algorithm in a given business scenario and comment on its \nefficiency and performance.'

In [3]:
#Dataset Name:-LR_Social_Network_Ads

In [4]:
import pandas as pd
data=pd.read_csv('LR_Social_Network_Ads.csv')

In [5]:
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [6]:
x=data.iloc[:,0:2]

In [7]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [8]:
y=data['Purchased']

In [9]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split

In [26]:
 x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

In [27]:
# import support vector classifier 
from sklearn.svm import SVC # "Support Vector Classifier" 
clf = SVC(kernel='linear') 

# fitting x samples and y classes 
clf.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [28]:
y_predict=clf.predict(x_test)

In [29]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

In [31]:
print( precision_score(y_test, y_predict))

0.8235294117647058

In [32]:
print(recall_score(y_test, y_predict))

0.56

In [33]:
print(accuracy_score(y_test, y_predict))

0.825

In [34]:
print(f1_score(y_test, y_predict))

0.6666666666666666

In [35]:
from sklearn.metrics import roc_auc_score

In [36]:
print ("AUC&ROC",roc_auc_score(y_test, y_predict))

AUC&ROC 0.7527272727272728